body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
}


.header {
    background-color: #007BFF;
	box-shadow:0 0 6px rgba(3,3,3,0.6);
	position:fixed;
	left:0;
	width:250px;
	height:100%;
	min-height:100%;
	z-index:100;
    /* background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center; */
}

/* nav {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
} */

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header #logo {
    display: block;
    height: 20%;
    margin-left: 30px;
    max-width: 140px;
    padding-top: 20px;
}
.header ul{
    font-size: 13px;
    font-weight: bold;
    min-height: 150px;
    margin-left: -40px;

}
.header ul li{
    list-style: none;
    text-align: right;
    padding: 0px;
    cursor: pointer;
}
.header ul a{
    border-top: 1px solid #ffffff;
    color: #000000;
    display: block;
    padding: 6px 15px 7px 0px;
    text-align: right;
    text-decoration: none;
}
.header ul li:last-child a {
    border-bottom: 1px solid #ffffff ;
}
.header ul a:hover, .header ul a.active{
    background-color: #47f16c;
}
/* .content-wrap is the container for the main content (Start Content) */
.content-wrap {
    margin-left: 250px;
    padding: 0px 30px;
}













#header ul{
	font-size: 13px;
    font-weight: bold;
    height: 75%;
    min-height: 150px;
    overflow: auto;
    padding: 0;
}


section {
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
